<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WalkingWander</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="Your perfect notification-based tour guide app that you don't need to keep looking at while you enjoy your lovely walking wandering tour.">
    <meta name="keywords" content="walking, walking tour, tour, tourism, ireland, kilkenny, walkingwander, app, mobile app"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
